.body {
	font-family: sans-serif;
}

.top {
	flex: 2 1 100%;
	margin-bottom: 0.25em;
}
.tools {
	flex: 1 1 100%;
	height: 40px;
}
.middle {
	flex: 1 1 100%;
	margin: 0.25em;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.bottom {
	flex: 1 1 100%;
	margin: 0.25em;
}

.bottom-list {
	display: flex;
	flex-flow: row;
	overflow: hidden;
	overflow-x: auto;
}

.bottom-list > .tinyvid {
	height: calc(108px * 0.666667);
	flex: 0 0 33%;
}

.video-list {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}

.tinyvid {
	flex: 0 0 48%;
	height: calc(120px * 0.666667);
	margin: 1%;
	background-color: #831FDE;
}

#main, #config {
	display: flex;
	flex-flow: row;
	justify-content: stretch;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
}

.content {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	min-height:  180px;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.vid {
	padding-top: calc(59.26%);
	position: relative;
	flex: 1 0 49%;
	width: 100%;
	height: calc(320px * 66.666667%);
	background-position :center !important;
	background-size: cover !important;
	border: 1px solid rgba(195, 163, 224, 0.4);
	background-color: #831FDE;
	order: 2;
}

.tinyvid:nth-child(even) {
	animation-delay: 0.2s;
}

.vid.featured {
	order: 1;
	align-self: center;
	background-color: #3e0e69;
}

.tags {
	display: table;
	margin-bottom: 0.25em;
}

.tags > span {
	margin-right: 0.25em;
	padding: 0.1em 0.25em;
	border-radius: 4px;
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

.tag-hot {
	background-color: #fb563d;
}

.tag-featured {
	background-color: #ba71df;
}

.vid-title {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.2);
}

.vid-content {
	position: absolute;
	bottom: 0.25em;
	left: 0.25em;
	right: 25%;
}

#sort-menu {
	display: block;
	position: fixed;
}

.tool-sort {
	cursor: pointer;
	display: inline-block;
}

.tool-right {
	margin-right: 0.25em;
	flex: 2;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}

.tool-left {
	flex: 1;
	margin-left: 0.25em;
}

.tools {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.dropdown-menu {
	background-color: #fdfdfd;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	border: 1px solid #fefefe;
	cursor: pointer;
}

.dropdown-menu > *:hover {
	background-color: #eee;
}

.dropdown-menu > * {
	padding: 0.5em;
}

.dropdown-menu > .active {
	background-color: #ddd;
}

.tool-sort::after {
	content: '';
	display: inline-block;
	background: url('res/chevron_down.png') no-repeat;
	background-size: cover;
	background-position: center;
	width: 12pt;
	height: 12pt;
	margin-left: 0.5em;
}

.bottom-control {
}

.bottom-left, .bottom-right {
	width: 64px;
	position: absolute;
	bottom: 0;
	height: 82px;
}

.bottom-left {
	left: 0;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}


.bottom-right {
	right: 0;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

body {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}


::-webkit-scrollbar {
	width: 8px;
	margin: 16px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
	background-color: rgba(90, 90, 90, 0.4);
	border-radius: 8px;
}


.start-config {
	background: url('res/cog.png') no-repeat;
	background-size: contain;
	width: 24px;
	height: 24px;
	display: inline-block;
	cursor: pointer;
	margin-left: 0.25em;
}
